/*FONTS*/

@font-face {
  font-family: 'Comic Sans';
  src: url('../fonts/ComicSansMS.woff2') format('woff2'),
      url('../fonts/ComicSansMS.woff') format('woff');
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial.ttf') format('ttf');
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Arial Bold';
  src: url('../fonts/arialbd.ttf') format('ttf');
  font-style: normal;
  font-display: block;
}
.main_container {
  max-width: 960px;
  height: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #9b9b9b;
}
.main_container .connection {
  display: block;
  width: 100%;
  position: relative;
}
.main_container .title_contain .title {
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 0;
  text-align: center;
  font-family: 'Comic Sans';
  font-weight: 400;
  color: #fff;
}

.main_container .navigation {

}
.main_container .navigation ul {
  font-family: 'Arial Bold';
  font-weight: 700;
  font-weight: bold;
  list-style-type: none;
  color: blue;
  padding-inline-start: 10px;
}