 @import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
 body {
 	height: 100%;
 	/*max-width: 960px;*/
 	overflow: hidden;
 	position: fixed;
 }
 .absolute-container {
 	position: absolute;
 	left: 50%;
 	transform: translate(-50%);
 	top: 100px;
 	height: 600px;
 	width: 100vw;
 }
 .cracker {
	 position: relative;
	 height: 450px;
}
 .cracker:hover .cracker-left {
	 left: -150px;
	 top: 100px;
	 transform: rotate(-15deg);
}
 .cracker:hover .cracker-right {
	 right: -150px;
	 top: 100px;
	 transform: rotate(15deg);
}
 .cracker-left, .cracker-right {
	 transition: all 0.5s ease-in-out;
	 width: 50%;
	 height: 100%;
	 position: absolute;
	 top: 0;
}
 .cracker-left {
	 left: 0;
	 z-index: 2;
}
 .cracker-right {
	 right: 0;
}
.cracker-message {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    top: 200px;
    width: 200px;
}
 .cracker-message .cracker-message__inner {
	 padding: em(10);
	 background: #ececec;
	 color: #6c6c6c;
	 text-align: center;
	 font-size: em(13);
	 text-transform: uppercase;
	 font-weight: bold;
	 font-family: 'Shadows Into Light Two', cursive;
	 border: 1px solid #d7d7d7;
	 box-shadow: 2px 2px 30px #d2d2d2;
}
.left-egg, .right-egg {
	height: 500px;
	position: absolute;
}
.left-egg {
	right: -375px;
}
.right-egg {
	left: -377px;
}
.touch-message {
	position: absolute;
	bottom: 15%;
	width: 100%;
	text-align: center;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 23px;
	transition: all 0.4s ease;
	z-index: 20;
}

@media only screen and (min-width: 1800px){
	.cracker:hover .cracker-left {
		 top: 200px;
	}
	 .cracker:hover .cracker-right {
		 top: 200px;
	}
}
@media only screen and (max-width: 479px) {
	body {
		max-width: unset;
		width: 100%;
	}
	.cracker-message {
	    position: fixed;
	    left: 200px;
	}
	.cracker:hover .cracker-left {
		 top: 50px;
	}
	 .cracker:hover .cracker-right {
		 top: 50px;
	}
	.touch-message {
	    bottom: 10%;
	}
}