/*----------GENERAL STYLES------------*/
*::-webkit-scrollbar {
  display: none;
}
body {
	background: #000;
	overflow: hidden;
}
h1, h2, h4 {
    font-family: 'Comics';
	color: #fff;
	text-align: center;
    text-transform: uppercase;
}
p {
	transition: all 0.5s ease;
}
@font-face {
    font-family: 'Comics';
    src: url('../fonts/Comics.woff2') format('woff2'),
        url('../fonts/Comics.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*-----------MAIN CONTAINER-----------*/

.updated_time {
	text-align: center;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.container {
    padding: 0;
    position: relative;
}
.container h1 {
    text-align: center;
    color: #fff012;
    cursor: pointer;
}
.reviews_container {
	margin-top: 30px;
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.reviews_container .box {
	width: 32%;
	outline: none !important;
}
.reviews_container .row {
	border-radius: 6px;
	width: 100%;
	overflow: scroll;
	margin: 0 auto;
    height: auto;
	max-height: 50vh;
	transition: all 0.5s ease;
	user-select: none;
}
.reviews_container .row .store_review {
	background: #fff;
	height: 100%;
}
.reviews_container .box a {
	outline: none;
    position: relative;
    text-decoration: none;
    display: block;
}
.reviews_container .box a::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: 0;
    left: 50%;
    background-color: #fff;
    opacity: 0;
    transform: translate(-50%, 0%) translateZ(0);
    transition: all 0.3s ease-in-out 0s;
    backface-visibility: hidden;
}
.reviews_container .box a:hover::before {
    opacity: 1;
    transform: translate(-50%, 0%) translateZ(0);
}
.reviews_container .box h2 {
	color: #fff012;
	text-align: center;
	margin-bottom: 30px;
	font-size: 28px;
    width: auto;
}
.reviews_container .box h4 {
	margin-top: 20px;
	transition: opacity 0.6s ease;
    user-select: none;
}
.reviews_container .box .hidden_sort {
    opacity: 1;
    user-select: none;
    transition: all 0.5s ease;
}
.reviews_container .box .hidden_sort:hover {
    opacity: 1;
    user-select: all;
    transition: all 0.8s ease;
}
.reviews_container .box .hidden_sort .sort_btn {
    border: 2px solid #fff;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    font-family: 'Comics', sans-serif;
    text-transform: lowercase;
    width: 70px;
    height: 32px;
    background: #fff012;
    color: #000;
    font-size: 15px;
    margin-top: 20px;
    outline: none;
	transition: all 0.5s ease;
    user-select: none;
}	
.reviews_container .box .hidden_sort .sort_btn:hover {
    background: #c0b40b;
}
.reviews_container .box .hidden_sort .sort_type {
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: #fff;
	opacity: 0;
	transition: all 0.5s ease;
    transform: scale(0.8);
    user-select: none;
}
.reviews_container .box .hidden_sort .sort_type.show {
    transform: scale(1.0);
	opacity: 1;
}
.reviews_container table {
	border-radius: 6px;
	margin-bottom: 0;
}
.review {
    text-align: center;
	background: #fff;
    height: auto;
    padding: 25px;
    border-bottom: 1px solid #dadada;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    transition: all 0.5s ease;
}
.review.hidden_review {
    visibility: hidden;
    position: absolute;
}
.review.hidden_review p,
.review.hidden_review div {
    opacity: 0;
    transition: all 0s ease;
}
.review.hidden_review.show {
    position: relative;
    visibility: visible;
}
.review.hidden_review.show p,
.review.hidden_review.show div {
    opacity: 1;
    transition: all 1.2s ease;
}
.review .caption {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.review .rating {
	color: transparent;
	margin-bottom: 10px;
}
.review .rating .star {
	width: 25px;
	height: 25px;
}
.review .user_image {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    height: 36px;
}
.review .person_container {
    height: auto;
    vertical-align: bottom;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}
.review .person_container .person {
    font-size: 15px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
.review .person_container .time {
    font-size: 10px;
    display: block;
    width: 100%;
    margin-bottom: 0px;
}
.information {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -25px) scale(0.8);
    width: 25px;
    height: 25px;
    padding: 3px;
    z-index: 4;
    opacity: 0;
    transition: all 0.2s ease-in-out, opacity 0.4s ease;
    z-index: 100;
}
.information p {
    position: absolute;
    left: 50%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    opacity: 0;
    width: 150px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    text-align: center;
    transform: translate(-50%, 40px);
    pointer-events: none;
}
.information.show:hover p.show {
    opacity: 1;
    transform: translate(-50%, 30px);
}
.information.show {
    opacity: 1;
    transform: translate(-50%, -30px) scale(1.0);
}
.information.show:hover {
    transform: translate(-50%, -33px) scale(1.0);
}
.information img.info_btn,
.information img.close_btn {
    position: absolute;
    width: 22px;
    height: 22px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.6s ease;
}
.information img.info_btn.show,
.information img.close_btn.show {
    opacity: 1;
}
.information_description {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    transition: opacity 1s ease;
    pointer-events: none;
    z-index: 99;
}
.information_description.show {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.6s ease;
}
.information_description .hide_text {
    position: absolute;
    max-width: 960px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: all 0.6s ease;
}
.information_description.show .hide_text {
    transform: translate(-50%, -50%) scale(1.0);
    opacity: 1;
}
.information_description .hide_text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
    text-align: center;
    color: #fff;
}
.information_description .hide_text p b {
    font-weight: 600;
}
.information_description .hide_text p:nth-child(2) {
    margin-top: 30px;
}
.information_description .hide_text a {
    text-decoration: underline;
    color: #fff;
}

/*---------------SIEBEL TIMER-----------*/

@-webkit-keyframes timer {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-moz-keyframes timer {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-o-keyframes timer {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes timer {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
.siebui-mask-overlay {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    opacity: 1;
    position: fixed;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    z-index: 9999;
    background: #fff;
    transition: opacity 0.6s ease;
    /*display: none !important;*/
}
.siebui-mask-overlay .siebui-mask-outer {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #fff012;
    overflow: hidden;
    text-indent: -9999px;
    height: 48px;
    width: 48px
}
.siebui-mask-overlay .siebui-mask-outer::before {
    display: block;
    position: absolute;
    width: 6px;
    height: 19.2px;
    left: 15px;
    top: 15px;
    content: '';
    -webkit-animation: timer 1250ms infinite linear;
    -moz-animation: timer 1250ms infinite linear;
    -ms-animation: timer 1250ms infinite linear;
    -o-animation: timer 1250ms infinite linear;
    animation: timer 1250ms infinite linear;
    -webkit-transform-origin: 3px 3px;
    -moz-transform-origin: 3px 3px;
    -ms-transform-origin: 3px 3px;
    -o-transform-origin: 3px 3px;
    transform-origin: 3px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: #000;
}

.siebui-mask-overlay .siebui-mask-outer::after {
    display: block;
    position: absolute;
    width: 6px;
    height: 16px;
    left: 15px;
    top: 15px;
    content: '';
    -webkit-animation: timer 15000ms infinite linear;
    -moz-animation: timer 15000ms infinite linear;
    -ms-animation: timer 15000ms infinite linear;
    -o-animation: timer 15000ms infinite linear;
    animation: timer 15000ms infinite linear;
    -webkit-transform-origin: 3px 3px;
    -moz-transform-origin: 3px 3px;
    -ms-transform-origin: 3px 3px;
    -o-transform-origin: 3px 3px;
    transform-origin: 3px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    /*background: #0079c0*/
    background: #000;
}
@media only screen and (max-height: 600px) {
    .reviews_container .row {
        max-height: 36vh;
    }
}

@media only screen and (max-width: 991px) {
	/*SLIDER*/
	.slider {
		z-index: 20;
		width: 738px;
		position: relative;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		border-radius: 6px;
		transition: all 0.3s ease;
		cursor: grab;
	}
	.slick-track {
		display: flex !important;
	}
	.slick-slide {
		height: inherit !important;
	}
	.slide:focus { 
		outline: none;
	}
	.slick-dots {
		bottom: 30px !important;
		transition: all 0.3s ease;
	}
	.slick-dots li button:before {
		color: #fff !important;
		transition: opacity 0.7s ease;
	}
	.slick-slide {
		margin: 0 27px;
	}
	/* the parent */
	.slick-list {
		margin: 0 -27px;
	}
	.slide {
		position: relative;
		display: inline-block;
		padding: 20px;
		border-radius: 6px;
	}
	.container {
		width: 100%;
	}
	.reviews_container .box {
		width: auto;
	}
	.reviews_container .caption {
		font-size: 19px;
	}
	.review .person_container .time {
		font-size: 12px;
	}
	.reviews_container .row {
		max-height: 68vh;
	}
	.reviews_container .box h4 {
	    display: none !important;
	}
	.slick-slider {
		margin-bottom: 0px !important;
		padding-bottom: 30px;
	}
	.reviews_container .box .sort_type {
		display: none;
	}
    .reviews_container .box .sort_btn {
        opacity: 0 !important;
    }
    .reviews_container .box .hidden_sort {
        opacity: 0;
    }
    .information_description .hide_text {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media only screen and (max-width: 767px) {
	.slide {
	    padding: 10px;
	}
	.slider {
		width: 480px;
	}
	.updated_time {
	    margin-bottom: 0px;
	}
	.reviews_container .caption {
   		font-size: 17px;
	}
	body {
		overflow-y: scroll;
	}
	.slick-slider {
		margin-bottom: 0px !important;
		padding-bottom: 30px;
	}
	.slick-dots {
		bottom: -5px !important;
	}
    .reviews_container .box .hidden_sort {
        display: none;
    }
    .information {
        transform: translate(-50%, -170px) scale(1.0);
    }
    .information:hover {
        transform: translate(-50%, -170px) scale(1.0);
    }
    .container {
        padding-bottom: 40px;
    }
    .information_description .hide_text p {
        font-size: 16px;
    }
    .information_description .hide_text {
        max-width: 100%;
        width: 100%;
        padding: 0 20px 0px 20px;
    }
    .reviews_container .row {
        max-height: 58vh;
    }
}
@media only screen and (max-width: 479px) {
	.slider {
		width: 345px;
	}
	.reviews_container .row {
    	max-height: 60vh;
	}
	.reviews_container .caption {
   		font-size: 15px;
	}
	.reviews_container .time {
   		font-size: 14px;
	}
    .reviews_container .box h2 {
        font-size: 25px;
    }
    body {
        overflow: hidden;
    }
    .slick-dots {
        bottom: 0px !important;
    }
    .information {
        transform: translate(-50%, -30px) scale(1.0);
    }
    .information:hover {
        transform: translate(-50%, -30px) scale(1.0);
    }
}
@media only screen and (max-width: 360px) {
    .slider {
        width: 290px;
    }
    .information_description .hide_text p {
        font-size: 15px;
    }
}
