.pace{
	-webkit-pointer-events:none;
	pointer-events:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	z-index: 2000;
	position:fixed;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	/*height:5px;*/
	width:200px;
	/*background:#fff;*/
	/*border:1px solid #fff;*/
	overflow: hidden;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
.loader-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader {
  display: block;
  margin-top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: 30px auto;
  border-radius: 50%;
}

@keyframes rotation {
  to { transform: rotate(360deg); }
}

.rainbow {
  border: 1px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  animation: rotation .6s linear infinite;
}

.pace .pace-progress {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	max-width:1px;
	z-index: 2000;
	display:block;
	position:absolute;
	color: #9b9b9b;
	height:100%;
	width:100%;
	background: transparent;
	top: 50.5%;
	left: 50%;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

.pace.pace-inactive{
	display:none
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 50px;
  text-align: center;
  right: -23px;
  top: -14px;
}

.pace .pace-activity {
  position: absolute;
  width: 100%;
  height: 28px;
  z-index: 2001;
  border-radius: 10px;
}

.pace.pace-inactive {
  display: none;
}