body {
  background: #e7e7e7;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  margin-top: 10px;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.2);
}
page[size="A4"] {  
  width: 21cm;
  height: 25cm; 
}

dl {
	padding: 50px;
}
dd {
	font-family: 'Open Sans', sans-serif;
}