/*----------------------------------------------
----------------------FONTS--------------------
------------------------------------------------*/
/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v12-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
       url('../fonts/poppins-v12-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v12-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v12-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v12-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v12-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}
/*Drive Variable Font*/
@font-face {
  font-family: 'Drive Variable';
  font-style: normal;
  src: url('../fonts/DriveVariable.ttf') format('truetype'); 
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('../fonts/poppins-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v12-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
       url('../fonts/poppins-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v12-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v12-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v17-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/josefin-sans-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/josefin-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-v16-latin-700.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Monument';
  src: url('../fonts/MonumentExtended-Regular.otf') format('woff2'),
      url('../fonts/MonumentExtended-Regular.woff') format('woff');
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Relative';
  src: url('../fonts/relative-black.woff') format('woff'),
      url('../fonts/relative-black.woff2') format('woff2');
  font-weight: 900;
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*----------------------------------------------
----------------------GENERAL--------------------
------------------------------------------------*/

body {
  background: #3b3b3b;
  padding: 0;
  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/
  /*Have custom cursor everywhere*/
  cursor: url("data:image/svg+xml,%3Csvg height='8' width='8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23ffffff' r='3'/%3E%3C/svg%3E") 0 0, auto;
}
.no_cursor {
  cursor: none !important;
}
body.no_cursor .cursor {
  display: none !important;
}
*::selection { 
  /*background: rgb(255, 149, 1);*/
  background: #e34c15;
  color: white;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
p {
  transition: all 0.4s ease; 
}
a:focus {
  outline: none;
}
.cursor {
  display: none;
  opacity: 1;
  position: fixed;
  top: 2px;
  left: 2px;
  /* transition-duration: 125ms;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-property: width, height, transform; */
  transition: 150ms width cubic-bezier(0.39, 0.575, 0.565, 1),
              150ms height cubic-bezier(0.39, 0.575, 0.565, 1),
              0.3s transform cubic-bezier(0.39, 0.575, 0.565, 1),
              0.4s width cubic-bezier(0.39, 0.575, 0.565, 1),
              0.4s height cubic-bezier(0.39, 0.575, 0.565, 1),
              0.4s background ease;
  z-index: 9999;
  pointer-events: none;
  will-change: transform, opacity;
}
.cursor.blend {
  background: #fff;
  mix-blend-mode: difference;
  transition: background 0.3s ease;
  height: 80px !important;
  width: 80px !important;
  top: -20px;
  left: -20px;
}
.cursor.blend:after {
  height: 80px;
  width: 80px;
  top: 0px;
  left: 0px;
}
.cursor.blend_small {
  background: #fff;
  mix-blend-mode: difference;
  transition: background 0.3s ease;
  height: 50px !important;
  width: 50px !important;
  top: -8px;
  left: -8px;
}
.cursor.blend_small:after {
  height: 50px;
  width: 50px;
  top: 0px;
  left: 0px;
}
.cursor.light::after {
  border: 2px solid #fff;
}
.cursor.none {
  transition: all 0.4s ease;
  opacity: 1;
}
.cursor.none::after {
  opacity: 1;
  border: orange;
}
@media (pointer: fine) {
  .cursor {
    display: block;
  }
}
.cursor::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  border: 2px solid #acacac;
  transition: 300ms opacity cubic-bezier(0.39, 0.575, 0.565, 1),
              300ms transform cubic-bezier(0.39, 0.575, 0.565, 1),
              0.2s width cubic-bezier(0.39, 0.575, 0.565, 1),
              0.4s height cubic-bezier(0.39, 0.575, 0.565, 1),
              150ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
}
html:not(html:hover) .cursor::after {
  opacity: 0;
  transform: scale(0);
}

/*----------------------------------------------
-------------------MAIN SECTION-----------------
------------------------------------------------*/

.dvd-wrap,
.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10001;
  transition: height 1s ease;
  overflow: hidden;
}
.preloader-wrap {
  background: #fff;
  bottom: 0;
  top: unset;
}
.dvd-wrap {
  display: none;
  background: #000;
}
.preloader-wrap {
  /*display: none !important;*/
}
.dvd-wrap.show {
  display: block !important;
}
.dvd-wrap.show.no_bg {
  pointer-events: none;
  background: transparent;
}
.dvd-wrap .helper-text-legend {
  position: absolute;
  background: rgba(0,0,0,0.8);
  padding: 10px 15px 0px 15px;
  border-radius: 6px;
  color: #acacac;
  transition: all 0.5s ease;
  opacity: 0;
  font-family: 'Poppins';
  font-weight: 200;
  text-align: center;
  font-size: 15px; 
  left: 50px;
  bottom: 150px;
  transform: none;
  display: inline-block;
  text-align: left;
  user-select: none;
  z-index: 10001;
}
.dvd-wrap .loader-centered {
  position: fixed;
  width: 273px;
  height: 160px;
  animation: x 7s linear infinite alternate;
  transition: opacity 0.5s ease;
}
.dvd-wrap .main-loader.opacity {
  opacity: 0 !important;
}
.dvd-wrap .egg-centered.opacity {
  opacity: 0 !important;
}
.dvd-wrap .egg-centered.hue {
  filter: hue-rotate(0deg) !important;
}
.dvd-wrap .egg-centered.cracked {
  opacity: 0 !important;
  transition: opacity 0.5s ease 0.5s;
}
.dvd-wrap .egg-centered.cracked {
  animation: none !important;
}
.dvd-wrap .egg-centered.cracked .egg-img {
  animation: none !important;
}
.dvd-wrap .loader-img {
  width: 273px;
  height: 160px;
  animation: y 3.78s linear infinite alternate;
  transition: opacity 0.5s ease;
}
.dvd-wrap .egg-centered {
  opacity: 1;
  width: 120px;
  height: 160px;
  animation: xEgg 7s linear infinite alternate;
}
.dvd-wrap .egg-img {
  width: 120px;
  height: 160px;
  animation: y 3.78s linear infinite alternate;
  cursor: crosshair;
}
.preloader-wrap .loader-img,
.preloader-wrap .loader-img-two {
  width: 120px;
  height: 120px;
  position: fixed;
  /*transition: opacity 0.4s ease;*/
}
.preloader-wrap .loading-line {
  width: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  background-color: #e7e7e7;
  transition: all 0.6s ease-in-out;
}

@keyframes x {
  100% {
    transform: translateX( calc(100vw - 285px) );
  }
}
@keyframes xEgg {
  100% {
    transform: translateX( calc(100vw - 120px) );
  }
}
@keyframes y {
  100% {
    transform: translateY( calc(100vh - 160px) );
  }
}
@keyframes boldFontAdd {
  0% {
    font-variation-settings: 'wght' 200, 'wdth' 85;
  }
  100% {
    font-variation-settings: 'wght' 800, 'wdth' 100;
  }
}
@keyframes boldFontRemove {
  0% {
    font-variation-settings: 'wght' 800, 'wdth' 100;
  }
  100% {
    font-variation-settings: 'wght' 200, 'wdth' 85;
  }
}
@keyframes fadeLoader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pace .pace-progress {
  display: none !important;
}
.too-small-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #3b3b3b;
  z-index: 1200;
  font-family: 'Proxima Nova Rg';
  color: white;
  text-align: center;
  display: none;
  transition: all 0.7s ease;
  animation: fadeIn 0.6s forwards;
}
.too-small-message p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 17px;
}
.main, .about, .portfolio, 
.skills, .experience, .contact {
  overflow: hidden;
  height: 100%;
  width: 100% !important;
  /*transition: all 0.4s ease;*/
  position: relative;
  z-index: 2;
}
.main {
  height: 100vh;
  box-sizing: border-box; 
}
.main .tilt_stats {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  right: 0;
  bottom: 0;
  width: 115px;
  padding: 10px;
  color: #fff;
  
  border-top-left-radius: 6px;
}
.main .tilt_stats p,
.main .tilt_stats span {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.main .tilt_stats span {
  font-weight: 200;
}
.overflow-hide {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  transition: transform 0.7s ease;
}
.fade, .fade-second, .fade-third, .fade-fourth, .fade-last {
  display: inline-block;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-animation-name: fadeTitle;
  animation-name: fadeTitle;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.fade {
  /*-webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;*/
}
.fade-second {
  padding-top: 5px; /* Extra padding for the forward slash */
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
.fade-third {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
  /*font-style: italic;*/
  color: #f97d7a;
}
.fade-third.hide_desktop,
.fade-fourth.hide_desktop {
  width: 0px !important;
  margin-left: 0px !important;
} 
.fade-fourth {
  margin-left: 12px;
}
.fade-third,
.fade-fourth {
  margin-bottom: 0px !important;
}
.title-text span.no_transition {
  transition: unset !important;
  width: auto !important;
}
.fade-fourth {
  -webkit-animation-delay: 1150ms;
  animation-delay: 1150ms;
}
.no_delay {
  -webkit-animation-delay: unset;
  animation-delay: unset;
  transition: none !important;
} 
.fade-last { 
  width: 160px; 
  height: 40px;
  -webkit-animation-name: fadeTitle;
  animation-name: fadeTitle;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  /*-webkit-animation-delay: 3400ms;*/
  /*animation-delay: 3400ms;*/
  transition: transform 0.7s ease;
}
.fullstop {
  color: #16c2ab;
  transition: all 0.7s ease;
}
.fade-last a { 
  cursor: crosshair;
}
.fade-last.overflow-hide:focus,
.view-work:focus {
  outline: none;
}
.view-work {
  position: relative;
  width: 100%;
  border-radius: 6px;
  border: none;
  height: 100%;
  background: transparent;
  color: white;
  font-family: 'Proxima Nova Rg';
  font-variant: small-caps;
  font-size: 21px;
  transition: all 0.7s ease;
  overflow: hidden;
  cursor: crosshair;
}
.fade-last a .bottom_border,
.fade-last a .bottom_border_anim {
  position: absolute;
  bottom: 5px;
  right: 0px;
  width: 100%;
  height: 4px;
  background: #121212;
  border-radius: 20px;
  z-index: -1;
  transition: all 0.6s ease;
}
.fade-last a .bottom_border_anim {
  width: 0px;
  z-index: 1;
}
.fade-last:hover a .bottom_border_anim {
  background: #fff;
  width: 100%;
  left: 0px;
  right: unset;
}
.title-text h1 span {
  transition: all 0.5s ease, width 0.7s ease-in-out;
}
.highlight-orange.active {
  color: #f3a954;
}
.highlight-blue.active {
  color: #7ebbf9;
}
.title-text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important; 
  z-index: 101;
  display: none;
  transition: opacity 0.4s ease;
  text-align: center;
  width: max-content;
}
.title-text .white {
  color: #e7e7e7;
}
.title-text h1 {
  font-size: 3.8em; 
  line-height: 1.2em;
  font-family: 'Josefin Sans';
  font-weight: 700;
  letter-spacing: -0.71px;;
  margin: 0;
  transition: all 0.5s ease;
  /*will-change: */
}
.background-wrapper {
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transform: scale(1.5);
  z-index: -1;
}
.background-wrapper.active {
  transform: scale(1.001);
  transition: transform 2s cubic-bezier(.34,.615,.4,.985);
}
.background {
  background-color: #3b3b3b;
  height: 100%;
  width: 100%;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  transform: translateY(-110%) translateZ(0);
}
.background:before {
  /*background-image: url(../img/background.jpg);*/
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(101%) translateZ(0); 
}
canvas { 
  width: 100%; 
  height: 100% 
} 
.background-wrapper[data-anim=true] .background,
.background-wrapper[data-anim=true] .background:before {
  transform: translateY(0) translateZ(0);
  transition: transform 1.5s ease;
}
.video-overlay {
  position:absolute;
  left:0; 
  top:0;
  width:100%; 
  height:100%;
  display:inline-block;
  opacity: 0.5;
  transition: opacity 0.4s ease;
  background: -moz-linear-gradient(top, rgba(77, 163, 251, 0.9) 0%, rgb(41, 22, 58, 0.95)); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(82, 24, 24)), color-stop(100%,rgba(77, 163, 251, 0.9))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(77, 163, 251, 0.9) 0%,rgb(41, 22, 58, 0.95)); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(77, 163, 251, 0.9) 0%,rgb(41, 22, 58, 0.95)); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(77, 163, 251, 0.9) 0%,rgb(41, 22, 58, 0.95)); /* IE10+ */
  background: linear-gradient(to bottom, rgba(77, 163, 251, 0.9) 0%,rgb(41, 22, 58, 0.95)); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.main .split_upper,
.main .split_lower {
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  background-color: #121212;
  z-index: 20;
  opacity: 0.9;
  transition: all 0.7s ease;
}
.main .split_upper.fill,
.main .split_lower.fill {
  width: 100%;
  height: 50%;
  /*transform: scale(1.0);*/
}
.main .split_lower {
  bottom: 0;
  top: unset;
  left: unset;
  right: 0;
  /*background-color: #e5decf;*/
  background-color: #404040;
}
/*------------SWITCH STYLES-------------*/

.switch {
  position: fixed;
  top: 37px;
  right: 30px;
  background: #e3e3e3;
  border-radius: 50px;
  width: 46px;
  height: 23px;
  border: none;
  opacity: 1;
  transition: all 0.6s ease;
  z-index: 10000;
}
.switch:focus {
  outline: 0;
}
.switch.no_view {
  right: -50px;
  opacity: 0;
}
.switch .circle {
  margin-left: 0px;
  background: #DA8508;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  transition: all 0.5s ease;
}
.switch.switched {
  background: #9b9b9b;
}
.switch.switched .circle {
  background-color: #3b3b3b;
  margin-left: 20px;
}
/*--------------LIGHT MODE STYLES---------------*/
body.light {
  background: #e7e7e7;
}
body.light .main .split_upper {
  background: #dddfd4;
}
body.light .main .split_lower {
  background: #fae596;
}
body.light .main .fade-last a .bottom_border {
  background: #fff;
}
body.light .main .fade-last a .bottom_border_anim {
  background: #3b3b3b;
}
/*-------------------NAVBAR--------------------*/

body.light .navbar-default {
  background-color: none;
}
body.light .navbar-default.light .navbar-nav li a {
  color: #555 !important;
}
body.light .navbar-default .navbar-nav li a {
  color: #fff;
}
body.light .navbar-default.light_mobile {
  background-color: rgba(255,255,255, 0.99);
}
body.light .navbar-default.light_mobile .navbar-collapse {
  background-color: rgba(255,255,255, 0.99);
}
body.light .navbar-default.light_mobile .bars .line {
  stroke: #555;
}
body.light .navbar-default.light_mobile .navbar-nav li a {
 color: #555 !important;
}
body.light .navbar-default .nav_bg {
  background: rgba(255,255,255,0.8);
}
body.light .navbar-default.light .navbar-brand .first {
  opacity: 1 !important;
}
body.light .navbar-default.light  .navbar-brand .second {
  opacity: 0 !important;
}
body.light .navbar-default.light .navbar-brand .first {
  opacity: 0 !important;
}
body.light .navbar-default.light  .navbar-brand .second {
  opacity: 1 !important;
}
body.light .navbar-brand.mobile .first {
  opacity: 0 !important;
}
body.light .navbar-brand.mobile .second {
  opacity: 1 !important;
}
/*-------------------PORTFOLIO--------------------*/
body.light .portfolio {
  background: #e7e7e7;
}
body.light .portfolio h1 {
  color: #3b3b3b;
}
body.light .portfolio-item .description_text {
  background: #fff;
}
body.light .portfolio-item .underlay {
  background: #fff;
}
body.light .portfolio-item .description_text p {
  color: #6b6b6b;
}
body.light .portfolio-item:hover .underlay {
  box-shadow: 0px 50px 95px -15px rgba(0,0,0,0.15);
}
body.light .portfolio-item:hover .underlay {
  box-shadow: 0px 50px 95px -15px rgba(0,0,0,0.15);
}
/*---------------------SKILLS---------------------*/

body.light .skills {
  background: #fae596;
}
body.light .skills .skill-item {
  background: #fff;
}
/*--------------------EXPERIENCE-------------------*/

body.light .experience {
  background: #f2f2f2;
}
body.light .experience h1 {
  color: #3b3b3b;
}
body.light .experience h3 {
  color: #6b6b6b; 
}
body.light .experience .experience-item:hover {
  box-shadow: 0px 50px 95px -15px rgba(0,0,0,0.15);
  transform: scale(1.05);
}
/*-------------------CONTACT--------------------*/

body.light .contact {
  background: #2b2b2b;
}
body.light .contact h1 {
  color: #fff;
}
body.light .contact .contact-item {
  background: #fff;
}
body.light .contact .contact-item:hover {
  background: rgb(231 231 231);
}
body.light .contact footer {
  color: #fff;
}
/*----------------------------------------------
------------------PORTFOLIO SECTION-----------------
------------------------------------------------*/

.portfolio {
  padding: 80px 60px 100px 60px;
  overflow: hidden;
  background: #0d0d0d;
  transition: all 0.7s ease;
}
.portfolio h1, 
.skills h1, .experience h1, .contact h1 {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 3.8em;
  user-select: none;
  text-align: center;
  width: min-content;
  margin: 0 auto;
  white-space: nowrap;
  transition: all 0.7s ease;
}
.about h1, .skills h1, .contact h1 {
  color: #3b3b3b;
}
.portfolio-title {
  margin-bottom: 30px !important;
  box-sizing: border-box;
  color: #fff;
}
.portfolio-container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.portfolio-container a {
  display: block;
  cursor: crosshair;
}
.portfolio-item {
  float: left;
  position: relative;
  width: 200px; 
  margin: 0 auto;
  display: inline-block;
  border-radius: 12px;
  height: 300px;
  margin-bottom: 20px;
  z-index: 1;
  transition: all 0.7s ease;
  transform: translateZ(0);
  margin-right: 15px;
  cursor: crosshair;
}
.portfolio-image {
  top: 0;
  left: 0px;
  position: absolute;
  height: 70%;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  transition: all 0.7s ease;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, white);
  transform: translateZ(0);
  z-index: 1;
}
.portfolio-logo {
  position: absolute;
  margin-bottom: 0px;
  top: 160px;
  right: 10px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  transition: all 0.6s ease;
}
.portfolio-item .underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  z-index: -1;
  transition: all 0.7s ease;
  border-radius: 12px;
}
.portfolio-item .description_text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 15px;
  background: #1b1b1b;
  width: 100%;
  height: 30%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  transition: all 0.7s ease;
}
.portfolio-item .description_text p {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 800;
  transition: all 0.4s ease-in-out;
}
.portfolio-item .description_text .number {
  opacity: 1;
  transform: translateX(0);
}
.portfolio-item .description_text .year_made {
  opacity: 0;
  font-weight: 600;
  transform: translateX(40px);
}
.portfolio-item .description_text .name {
  opacity: 0;
  z-index: 0;
  transform: translateY(-40px) translateX(-40px);
}
.portfolio-item:hover .underlay {
  transform: scale(1.1);
}
.portfolio-item:hover .portfolio-image {
  border-radius: 12px;
  transform: scale(0.9);
}
.portfolio-item:hover .description_text .year_made {
  opacity: 1;
  transform: translateX(0);
}
.portfolio-item:hover .description_text .number {
  opacity: 0;
  transform: translateX(-40px);
}
.portfolio-item:hover .description_text .name {
  opacity: 1;
  transform: translateY(-40px) translateX(0px);
}
.portfolio-item:hover .portfolio-logo {
  top: 150px;
  right: 20px;
  transform: scale(0.8);
}
.brendan {
  background: url('../img/brendan.jpg');
}
.aml {
  background: url('../img/aml.jpg');
}
.tla {
  background: url('../img/tla.jpg');
}
.qutrunning {
  background: url('../img/qutrunning_wide.jpg');
}
.quteb {
  background: url('../img/quteb.jpeg');
}
.daryl {
  background: url('../img/daryl.jpg');
}
.aaron {
  background: url('../img/aaron.jpg');
}
.new {
  background: url('../img/new.png');
}
.brendan-logo {
  background: url('../img/logos/brendan_white.png');
  background-color: #151712 !important;
}
.aml-logo {
  background: url('../img/logos/aml.png');
  background-color: #ffd499 !important;
}
.tla-logo {
  background: url('../img/logos/tla.png');
  background-color: #fff !important;
}
.qutrunning-logo {
  background: url('../img/logos/qutrunning.png');
  background-color: #e6f3fc !important;
}
.quteb-logo {
  background: url('../img/logos/quteb.png');
  background-color: #0386c5 !important;
}
.daryl-logo {
  background: url('../img/logos/dme.png');
  background-color: #0e0339 !important;
}
.aaron-logo {
  background: url('../img/logos/aaron_white.png');
  background-color: #210339 !important;
}
.new-logo {
  background: url('../img/logos/question_mark.png');
  background-color: #fff !important;
}
.brendan, .aml, .tla, .qutrunning,
.quteb, .daryl, .aaron, .new {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.brendan-logo, .aml-logo, .tla-logo, .qutrunning-logo,
.quteb-logo, .daryl-logo, .aaron-logo, .new-logo {
  background-size: 60% !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50%;
}

/*----------------------------------------------
------------------SKILLS SECTION-----------------
------------------------------------------------*/

.skills {
  overflow: hidden;
  background: #cecece;
  padding: 100px 60px 120px 60px; 
}
.skills h1 {
  color: #3b3b3b;
  margin-bottom: 60px;
}
.skills h1.mushroom {
  content: url('../img/1up.gif');
  width: auto;
}
.skills .skill_container {
  display: flex;
  justify-content: center;
}
.skill-row {
  width: 25%;
  max-width: 450px;
  min-width: 330px;
  float: left;
  display: table;
  border-collapse: separate;
  border-spacing: 5px;
}
.skill-row.two,
.skill-row.three {
  margin-left: -5px;
}
.skill-item {
  width: 24%;
  height: auto;
  background: #e5e5e5;
  padding: 10px;
  border-radius: 6px;
  transition: all 0.6s ease;
	-webkit-transition: all 0.3s ease; 
  position: relative;
  z-index: 1;
  margin-right: 1%;
  display: table-cell;
  transform: translateZ(0);
}
.skill-item .coin {
  position: absolute;
  height: 80%;
  width: 80%;
  bottom: -120px;
  left: 10%;
  opacity: 0;
  transition: none;
}
.skill-item .coin.visible {
  opacity: 1;
}
.hidden-text {
  font-family: 'Drive Variable', sans-serif;
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  z-index: -1;
  opacity: 0;
  color: #6b6b6b;
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.skill-item img { 
  width: 100%;
  transform: scale(1.0);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/*----------------MARIO STYLES--------------*/

.skills .skill-item.mario {
  padding: 0px;
  pointer-events: none;
}
.skills .skill-item.mario .coin.show {
  opacity: 1;
}
.skills .skill-item.mario .skill {
  content: url(../img/brick.gif);
}
.mario_anim {
  display: none;
  position: absolute;
  width: 71px;
  height: 72px;
  background: url('../img/mario.png') left center;    
  bottom: 0px;
  left:0px;
  
  -webkit-animation: play 0.3s steps(4) infinite,
              run 3s both infinite linear;
  
          animation: play 0.3s steps(4) infinite,
              run 3s both infinite linear;
}
@-webkit-keyframes play{
    100%{background-position: -284px;}
}
@keyframes play{
    100%{background-position: -284px;}
}
@-webkit-keyframes run{
    from{left: -200px;}
    to{left: 100%;}
}
@keyframes run{
    from{left: -200px;}
    to{left: 100%;}
}

/*----------------------------------------------
------------------EXPERIENCE SECTION-----------------
------------------------------------------------*/

.experience {
  overflow: hidden;
  padding: 60px 60px 60px 60px; 
  display: inline-block;
  background: #1e1e1e;
  transition: all 0.7s ease;
}
.experience h1 {
  color: #fff;
  margin-bottom: 30px;
  transition: all 0.7s ease;
}
.experience h3 {
  font-family: 'Proxima Nova Rg';
  color: #bfbfbf;
  font-variant: small-caps;
  font-size: 20px;
  margin-bottom: 20px;
  user-select: none;
  text-align: center;
  width: 100%;
  transition: all 0.7s ease;
}
.experience-item {
  float: left;
  width: 275px;
  height: auto;
  margin-bottom: 5px;
  padding: 10px 10px 20px 20px;
  border-radius: 6px;
  overflow: hidden;
  font-family: 'Drive Variable', sans-serif;
  font-weight: 200;
  position: relative;
  display: inline-block;
  background: white;
  transition: all 0.3s ease;
  left: 0;
  margin-right: 12px;
  height: 150px;
  opacity: 1;
  user-select: none;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: all 0.5s ease, opacity 0.3s ease, background 0.4s;
  cursor: crosshair;
}
.experience-item:hover {
  transform: translateZ(0) scale(1.05);
}
.experience-item.last {

}
.experience-item.remove_desktop {
  width: 0px !important;
  height: 0px !important;
  padding: 0px;
  height: 0px !important;
  margin-right: 0px !important;
  opacity: 0;
  transition: all 0.5s ease, opacity 0.4s ease;
}
.experience-item.remove_desktop .experience-logo {
  transition: opacity 0.4s ease;
  opacity: 0;
}
.experience-item.remove_right,
.experience-item.remove_left {
  left: 120%;
  padding: 0px;
  margin-bottom: 5px !important;
}
.experience-item.remove_left {
  left: -120%;
}
.experience-content {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.experience-item.qut,
.experience-item.qut .period .cover {
  background: #bae1ff;
}
.experience-item.qut-edu,
.experience-item.qut-edu .period .cover {
  background: #C7CEEA;
}
.experience-item.qut-edu-two,
.experience-item.qut-edu-two .period .cover {
  background: #b5b9ff;
}
.experience-item.urban,
.experience-item.urban .period .cover {
  background: #ffdfba;
}
.experience-item.edu,
.experience-item.edu .period .cover {
  background: #ffffba;
}
.experience-item.msoft,
.experience-item.msoft .period .cover {
  background: #baffc9;
}
.experience-item.stack,
.experience-item.stack .period .cover {
  background: #ffabab;
}
.experience-item.qut:hover,
.experience-item.qut:hover .period .cover {
  background: #6eb5ff;
}
.experience-item.qut-edu:hover,
.experience-item.qut-edu:hover .period .cover {
  background: #a1aee2;
}
.experience-item.qut-edu-two:hover,
.experience-item.qut-edu-two:hover .period .cover {
  background: #a79aff;
}
.experience-item.urban:hover,
.experience-item.urban:hover .period .cover {
  background: #f9c58a;
}
.experience-item.edu:hover,
.experience-item.edu:hover .period .cover {
  background: #f7f790;
}
.experience-item.msoft:hover,
.experience-item.msoft:hover .period .cover {
  background: #94f3a9;
}
.experience-item.stack:hover,
.experience-item.stack:hover .period .cover {
  background: #FF9AA2;
}
.experience-item h6 {
  font-size: 18px;
  transition: all 0.2s ease;
  min-width: 250px;
  font-variation-settings: 'wght' 200;
  color: #000;
}
.experience-item p {
  font-size: 13px;
  color: #3b3b3b;
  margin-bottom: 0px;
  font-variation-settings: 'wght' 200, 'wdth' 85;
  transform: translateZ(0);
}
.experience-item .role {
  margin-bottom: 7px;
  font-size: 14px;
  transition: all 0.3s;
  animation: boldFontRemove 0.3s ease-in-out forwards;
}
.experience-item .period {
  position: absolute;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease;
  /*transition: opacity 0.4s ease-in-out 0.48s, transform 0.4s ease 0.45s;*/
  bottom: 10px;
  opacity: 0;
}
.experience-item .period .cover {
  position: absolute;
  right: 0px;
  top: 0;
  width: 65px;
  height: 15px;
  z-index: 2;
  transition: all 0.4s ease-in-out, background 0.5s ease;
}
.experience-item.edu .period .cover {
  width: 70px;
  right: 0px;
  transition: all 0.5s ease-in-out, background 0.4s ease;
}
.experience-item:hover .period {
  opacity: 1;
}
.experience-item:hover .period .cover {
  width: 0px;
}
.experience-item:hover .role {
  font-size: 15px;
  animation: boldFontAdd 0.7s forwards;
  transition: all 0.3s ease, opacity 0.4s ease;
  /*transition: all 0.3s ease 0.5s;*/
}
.experience-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.experience-logo img {
  width: 80px;
  transition: all 0.4s ease;
}
.experience-item.qut .experience-logo img,
.experience-item.qut-edu .experience-logo img,
.experience-item.qut-edu-two .experience-logo img {
  width: 30px;
}
.work-experience, .education {
  width: 100%;
  display: inline-block;
  font-size: 0;
}
.work-experience {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

/*----------------------------------------------
------------------CONTACT SECTION-----------------
------------------------------------------------*/

.contact {
  padding: 60px 60px 70px 60px; 
  background: #fff;
  transition: background 0.7s ease;
  z-index: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  height: auto;
  z-index: -2;
}
.contact h1 {
  margin-bottom: 50px;
}
.contact_spacer {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.contact .contact_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact .contact-item {
  float: left;
  width: 10%;
  min-width: 170px;
  min-height: 100px;
  background: #e7e7e7;
  padding: 20px;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
  font-family: 'Drive Variable';
  font-variation-settings: 'wght' 200;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
  transition: all 0.5s ease;
  margin-right: 5px;
  transform: translateZ(0);
  cursor: crosshair;
}
.contact-item:hover {
  background: rgb(23,23,23);
  transform: translateZ(0) scale(1.05);
}
.contact-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateZ(0) translate(-50%, -50%);
  width: 50%;
  max-width: 70px;
  display: block;
  transition: all 0.6s ease;
}
.contact-item:hover .contact-image {
  transform: translateZ(0) translate(-50%, -50%) scale(0.7);
}
.contact-image img {
  width: 100%;
}
.contact-item h6 {
  font-size: 18px;
}
.contact-item p {
  font-size: 12px;
  color: #9b9b9b;
  margin-bottom: 0px;
}
footer {
  display: inline-block;
  font-family: 'Drive Variable';
  font-variation-settings: 'wght' 200;
  font-size: 12px;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 50px;
}

/*----------------------------------------------
------------------NAVBAR STYLES-----------------
------------------------------------------------*/

.navbar-default {
  z-index: 1001;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 65px;
  background: none;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  transition: all 0.4s ease;
}
.navbar-default .nav_bg {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  transition: height 0.6s ease, background-color 0.6s ease;
  z-index: -2;
}
.navbar-brand.light .first {
  opacity: 0 !important;
}
.navbar-brand.light .second {
  opacity: 1 !important;
}
.navbar-default.light .nav_bg {
  height: 100px;
}
.navbar-default.light .navbar-nav li a {
  color: #fff !important;
}
.navbar-default.light_mobile,
.navbar-default.light_mobile .navbar-collapse {
  background: rgba(0,0,0,0.9);
}
.navbar {
  border-radius: 0px 0px 0px 0px;
  border: 0px;
}
.background-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: unset;
  left: unset;
  width: 0px;
  height: 0px;
  transition: height 0.7s ease, width 0.6s ease, background-color 0.1s ease;
  border-radius: 12px;
  z-index: -1;
  background-color: rgba(255,255,255,0.5);
}
.background-fill.full-width {
  width: 100%;
  height: 100%;
  top: unset;
  right: unset;
  bottom: 0;
  left: 0;
}
.navbar-nav li:nth-of-type(1) {
  display: none !important;
}
.navbar-nav li:nth-of-type(2) .background-fill.full-width {
  background-color: rgba(247, 124, 121, 0.8);
}
.navbar-nav li:nth-of-type(3) .background-fill.full-width {
  background-color: rgba(242, 168, 85, 0.8);
}
.navbar-nav li:nth-of-type(5) .background-fill.full-width {
  background-color: rgba(125, 186, 249, 0.8);
}
.navbar-nav li:nth-of-type(6) .background-fill.full-width {
  background-color: rgba(247, 247, 144, 0.8);
}
/*
.navbar-nav li:nth-of-type(7) .background-fill.full-width {
  background-color: rgba(247, 247, 144, 0.8);
}*/
.container {
  width: auto;
  margin-left: 35px;
  margin-right: 45px;
}
.navbar-nav {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 15px;
}
.navbar-nav li {
  display: inline-block !important;
  float: none;
}
.logo-img {
  position: absolute;
  z-index: 0;
  transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:focus, 
.navbar-default .navbar-nav .active a:hover {
  background: transparent;
}
.navbar-default .navbar-nav li,
.navbar-default .navbar-nav li a {
  font-size: 13px;
  display: inherit;
  line-height: 25px;
  border-radius: 12px;
  vertical-align: bottom;
}
.navbar-default .navbar-nav li a {
  color: white;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 600;
  color: #e7e7e7;
  transition: all 0.4s ease;
  padding: 10px 15px 10px 15px;
  margin-right: 15px;
  margin-left: 15px;
}
.navbar-default .navbar-nav li {
  -webkit-animation-name: fadeNavElements;
  animation-name: fadeNavElements;
  opacity: 0;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition: padding 0.5s ease;
}
.navbar-default .navbar-nav li:nth-of-type(4) {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.navbar-default .navbar-nav li:nth-of-type(3),
.navbar-default .navbar-nav li:nth-of-type(5) {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.navbar-default .navbar-nav li:nth-of-type(2),
.navbar-default .navbar-nav li:nth-of-type(6) {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.navbar-default .navbar-nav .active a:focus {
  color: inherit;
}
.navbar-brand {
  display: inline-block;
  position: relative;
  float: unset;
  width: 50px;
  height: 50px;
  padding: 0px !important;
  font-size: unset;
  line-height: unset;
}
.navbar-brand.mobile {
  display: none;
}
.navbar-brand.mobile .first {
  opacity: 1;
}
.navbar-brand.mobile .second {
  opacity: 0;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
}
.navbar-brand .first,
.navbar-brand .second {
  position: absolute;
  transition: opacity 0.4s ease, width 0.6s ease, height 0.6s ease;
}
.navbar-brand .first {
  z-index: 1000;
}
.navbar-brand .second {
  z-index: 1001;
  opacity: 0;
}
.navbar-toggle {
  margin-top: 17px;
  float: right;
}
.navbar-default .navbar-toggle,
.navbar-default-home .navbar-toggle {
  border-color: transparent; /* Removes border color */
}
.navbar-default .navbar-toggle .icon-bar, .navbar-default-home .navbar-toggle .icon-bar {
    background-color: #5c6174;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-nav li a:focus {
  color: #fff;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li:hover a {
  color: #fff !important;
  /*color: #e34c15 !important;*/
}
.navbar-toggle {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border: none; 
}
.navbar-collapse.in {
  overflow: hidden;
}
.navbar-collapse {
  transition: all 0.4s ease;
}
/*----------------------------------------------
------------------MENU ANIMATION-----------------
------------------------------------------------*/

.trigger {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bars {
  width: 60px;
}
.bars .line {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
  transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
}
.bars .line.top {
  stroke-dasharray: 40 172;
}
.bars .line.middle {
  stroke-dasharray: 40 111;
}
.bars .line.bottom {
  stroke-dasharray: 40 172;
}
.bars.active .top {
  stroke-dashoffset: -132px;
}
.bars.active .middle {
  stroke-dashoffset: -71px;
}
.bars.active .bottom {
  stroke-dashoffset: -132px;
}

/*----------------------------------------------
----------------------ARROW---------------------
------------------------------------------------*/

.arrow {
  position: fixed;
  bottom: 6px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: none;
  width: 50px;
  height: 50px;
  z-index: 150;
  opacity: 0;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.arrow .arrow-img {
  background: url('../img/icons/arrow_down.png');
  background-size: cover !important;
  margin: 0;
  position: absolute;
  left: 10.5px;
  top: 9px;
  width: 30px;
  height: 26px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------------------------------------
---------------------ANIMATIONS-----------------
------------------------------------------------*/
@-webkit-keyframes fadeTitle {
    0% {
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeTitle {
    0% {
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}
@-webkit-keyframes fadeViewWork {
    0% {
        -webkit-transform: translateX(-60px);
        transform: translateX(-60px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes fadeViewWork {
    0% {
        -webkit-transform: translateX(-60px);
        transform: translateX(-60px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}
@-webkit-keyframes fadeNavElements {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeNavElements {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*----------------------------------------------
------------------MEDIA QUERIES-----------------
------------------------------------------------*/
@media only screen and (min-width: 1800px){
  .skill-row {
    min-width: 400px;
    max-width: 400px;
  }
  .skill-item .coin {
    bottom: -120px;
  }
  .hidden-text {
    font-size: 20px;
  }
  .background {
    transform: translateY(-161%) translateZ(0);
  }
  .title-text h1 {
    font-size: 5em; 
  }
  .experience-item {
    width: 340px;
    margin-right: 20px;
  }
  .contact-item {
    margin-right: 10px;
  }
  .fade-fourth {
    margin-left: 20px;
  }
  .mario_anim {
    -webkit-animation: play 0.3s steps(4) infinite,
                run 3.1s both infinite linear;
    
            animation: play 0.3s steps(4) infinite,
                run 3.1s both infinite linear;
  }
}
/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .fade-fourth {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .title-text h1 span {
    width: auto !important;
  }
  .skill-item {
    width: 15%;
    margin-bottom: 6px;
  }
  .portfolio-item {
    max-width: 300px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .experience-item {
    width: 100%;
    display: block;
    transition: all 0.6s ease;
  }
  .backdrop {
    height: 185px;    
  }
  .portfolio-description {
    bottom: 2px;
    right: 23px;
  }
  .portfolio-title {
    margin-bottom: 0px;
  }
  .title-text h1 {
    font-size: 2.8em;
  }
  .skill-row.two, .skill-row.three {
    margin-left: 0px;
  }
  .skill-row {
    width: 100%;
    max-width: unset;
    min-width: unset;
    margin-top: 5px;
    -webkit-border-vertical-spacing: 0;
  }
  .hidden-text {
    font-size: 20px; 
  }
  .preloader-wrap .second-line,
  .preloader-wrap .third-line {
    transition: height 0.9s ease;
  }
  .background video {
    display: block
  }
  .video-overlay {
    opacity: 0.3;
  }
  .main .tilt_stats {
    opacity: 1;
  }
  .switch {
    top: 17px;
    left: 50%;
    transform: translate(-50%, 0%);
    right: unset;
    opacity: 0;
  }
  .skills .skill_container {
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }
  .work-experience {
    margin-bottom: 30px;
    display: block; 
    overflow: hidden;
  }
  .contact .contact_container {
    display: block;
  }
  .contact .contact-item {
    width: 24.5%;
    float: none;
    min-width: unset;
    margin-right: 0px;
  }
  .experience h3 {
    font-size: 16px;
  }
  .title-text {
    top: 51%;
  }
}
@media only screen and (max-width: 767px) {
  .fade-last { 
    -webkit-animation-delay: 2800ms;
    animation-delay: 2800ms;
  }
  .title-text .overflow-hide .fade-fourth {
    margin-left: 10px;
  }
  .fade, .fade-second, .fade-third, .fade-fourth, .fade-last {
    margin-bottom: 10px;
  }
  .view-work {
    height: 50px;
  }
  .navbar-default {
    top: 0;
    right: 0;
  }
  .title-text h1 {
    font-size: 2.3em;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-top: 0px;
  }
  .navbar-collapse.in,
  .navbar-collapse.collapsing {
    margin-top: 0px;
  }
  .about, .portfolio, .skills, .experience, .contact {
    padding: 40px 60px;
  }
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    line-height: 20px;
    margin-right: 29px;
  }
  .navbar-nav {
    height: 100vh;
    transform: none !important; 
  }
  .experience-item {
    width: 100%;
  }
  .food-background {
    background-position: 53% 30% !important;
  }
  .skill-item {
    margin-bottom: 3px;
    margin-right: 3px;
    width: 15.8%;
  }
  .work-experience .spacer {
    height: 0;
  }
  .skills .spacer {
    min-width: 0px;
    max-width: 0px;
  }
  .navbar-brand img {
    width: 45px;
    height: 45px;
  }
  .title-text {
    left: 50%;
    top: 53%;
  }
  .about, .portfolio, .skills, 
  .experience, .contact {
    z-index: 102;
  }
  .portfolio-container {
    display: block;
  }
  .portfolio-item {
    margin-bottom: 4%;
    margin-right: 4%;
    height: 250px;
    width: 46%;
    max-width: unset;
  }
  .portfolio-logo {
    top: 135px;
    width: 30px;
    height: 30px;
  }
  .experience-item h6 {
    font-size: 17px;
  }
  .experience-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .navbar-toggle {
    margin-right: 44px;
    top: 3px;
  }
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    margin-top: 0px !important;
    font-size: 17px;
  }
  .navbar-collapse.in .navbar-nav li {
    transition: all 0.3s ease-in-out;
    opacity: 1 !important;
  }
  .navbar-default .navbar-nav li {
    -webkit-animation-name: unset;
    animation-name: unset;
  }
  .navbar-collapse .navbar-nav li {
    transform: translateY(25px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
    margin-bottom: 10px;
  }
  .navbar-collapse.in .navbar-nav li {
    transform: translateY(15px);
    opacity: 1;
    margin-bottom: 10px;
  }
  .background-fill {
    display: none;
  }
  .navbar-default .navbar-nav li a {
    color: #000;
    text-align: center;
  }
  .navbar-default .navbar-nav li:nth-of-type(1) {
    display: inline-block !important;
    transition-delay: 0.1s;
  }
  .navbar-default .navbar-nav li:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  .navbar-default .navbar-nav li:nth-of-type(3) {
    transition-delay: 0.3s;
  }
  /*Do not display navbar brand in nav elements on mobile*/
  .navbar-default .navbar-nav li:nth-of-type(4) {
    display: none !important;
  }
  .navbar-default .navbar-nav li:nth-of-type(5) {
    transition-delay: 0.4s;
  }
  .navbar-default .navbar-nav li:nth-of-type(6) {
    transition-delay: 0.5s;
  }
  .navbar-nav {
    width: 100%;
    text-align: center; 
    float: unset; 
    text-align: center;
  }
  .about .title_contain p, .about .title_contain span {
    font-size: 2.3em;
  }
  .fade-last a .bottom_border, .fade-last a .bottom_border_anim {
    bottom: 1px;
  }
  .about h1, .portfolio h1, .skills h1, .experience h1, .contact h1 {
    font-size: 2.8em;
  }
  .view-work {
    font-size: 17px;
  }
  .fade-last {
    width: 130px;
  }
  .contact-image {
    max-width: 50px;
  }
  .contact-item {
    min-height: 80px;
  }
  .navbar-brand.mobile {
    display: inline-block;
    margin-left: 30px;
  }
  .brendan, .aml, .tla, .qutrunning, .quteb, .daryl, .aaron, .new {
    background-position: 50% 15%;
  }
  .portfolio-item:hover {

  }
  body.light .portfolio-item:hover {

  }
  .contact .contact-item {
    width: 24%;
  }
  footer {
    margin-top: 20px;
  }
  .portfolio-item:hover .portfolio-logo {
    top: 120px;
    right: 25px;
  }
  .navbar-nav {
    padding-left: unset;
  }
}
@media only screen and (max-width: 479px) {
  .title-text {
    top: 53.9%;
  }
  .title-text h1 {
    font-size: 2.25em;
  }
  .about, .portfolio, .skills, .experience, .contact {
    padding: 30px 30px;
  }
  .about h1, .portfolio h1, .skills h1, .experience h1, .contact h1 {
    font-size: 2.25em;
    margin-bottom: 30px;
  }
  .experience h1 {
    margin-bottom: 10px;
  }
  .contact h1 {
    margin-bottom: 30px;
  }
  .portfolio h1 {
    margin-bottom: 30px;
  }
  .navbar-collapse {
    margin-top: 7.5px;
  }
  .skill-item {
    width: 23%;
  }
  .skill-item:hover {
    transform: scale(1.05);
  }
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    line-height: 47px;
    font-size: 20px;
    display: inherit;
    margin-top: 0px !important;
    margin-right: 10px;
    margin-left: 0;
  }
  .experience-item {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .work-experience {
    margin-bottom: 10px;
  }
  .contact-item {
    min-width: 100%;
    width: 100%;
    margin-bottom: 0px;
  }
  .portfolio-item {
    min-width: 100%;
    float: none;
    display: inline-block;
    margin-bottom: 10px;
  }
  .portfolio-description {
    right: 24px;
  }
  .navbar-toggle {
    margin-right: 31px;
  }
  .navbar-collapse {
    padding-right: 21px;
  }
  .title-text {
    max-width: 350px;
  }
  .view-work {
    font-size: 14px;
  }
  .fade-last {
    width: 118px;
  }
  .hidden-text {
    font-size: 12px; 
  }
  .navbar-default .navbar-nav li {
    top: 10%;
  }
  .navbar-brand.mobile {
    margin-left: 21px;
  }
  .portfolio-container {
    display: block;
  }
  .portfolio-logo {
    top: 125px;
    width: 40px;
    height: 40px;
  }
  .portfolio-item .description_text .name {
    opacity: 1;
    transform: none;
    right: 13px;
    bottom: 0;
  }
  .portfolio-item:hover .description_text .name {
    transform: translateY(0px);
  }
  .contact .contact-item {
    width: 100%;
    margin-bottom: 5px;
  }
  .navbar-collapse .navbar-nav li {
    transform: translateY(80px);
  }
  .navbar-collapse.in .navbar-nav li {
    transform: translateY(60px);
  }
  .navbar-nav {
    padding-top: 45px;
  }
}
@media only screen and (max-width: 300px) {
  .too-small-message {
    display: block;  
  }
}