.portfolio-block {
  height: 100vh;
  width: 100%;
  padding: 40px;
  position: relative;
  z-index: 2;
}
.portfolio-block > .text-white > #card {
  margin-bottom: 70px;
}
.title {
  margin-bottom: 50px;
}
body {
  background: #fff;
  color: #555;
  font-size: 18px;
  border: 3px solid white;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  position: relative; 
  margin-bottom: 120px;
}
.scene {
  margin: 0 auto;
  padding: 0; 
  z-index: 1;
  max-width: 75vw;
  padding-top: 40px;
  display: block;
}
.img-responsive {
  width: 150px;
  height: auto;
  display: inline-block;
  margin-top: 50px;
}
.bg {
  width: 150vw;
  height: 350vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: -50%;
  margin-top: -30%;
  background-image: -webkit-linear-gradient(90deg,#fff,#0d0c2a);
  background-image: linear-gradient(0deg,#fff,#0d0c2a);
}
.col-centered {
    float: none;
    margin: 0 auto;
}
#card {
  transform: perspective( 1000px ) translate3d( 0, 0px, 230px );
}
.card {
  width: 100%;
  height: 100%;
  z-index: 10;
  margin-top: 20vh;
}
.card-img {
  box-shadow: 0px 28px 77px 0px #222632;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transition: box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 6px;
  width: 40vw;
  background-image: url('../img/bg.jpeg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  margin: 0 auto;
  transform: perspective( 1000px ) translate3d( 0, 0px, 230px );
}
.text-black, .text-white {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.text-black {
  color: black;
}
.text-white {
  color: white;
}
.text-black > p {
  font-size: 10px;
}

.text-link-1, .text-link-2, .text-link-3 {
  color: white;
  position: absolute;
  display: inline-block;
  font-family: 'Raleway', sans-serif;  
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.text-link > a {
  text-decoration: none;
  color: white;
}
.svg-wrapper-1, 
.svg-wrapper-2, 
.svg-wrapper-3 {
  height: 100%;
  transform: translateY(-50%);
  margin-top: 30px;
  text-align: center;
  display: table;
  vertical-align: middle;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -288;
  stroke-width: 2px;
  stroke: #157488;
}

.button {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -288;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper-1:hover .shape, 
.svg-wrapper-2:hover .shape, 
.svg-wrapper-3:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}


/* Gray Scale */
#card figure .qut-running-logo,
#card figure .aml-logo,
#card figure .qut-eb-logo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
#card figure:hover .qut-running-logo,
#card figure:hover .aml-logo,
#card figure:hover .qut-eb-logo {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
