/*---------------------SCROLL MAGIC STYLES----------------*/


#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 500;
  perspective: 500;
}
#slideContainer {
  width: 400%; /* to contain 4 panels, each with 100% of window width */
  height: 100%;
}
.panel {
  height: 100%;
  width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
  background: transparent; 
  border: 60px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.0); 
}
.panel-lg {
  width: 100%; 
  height: 100%;
  background: transparent; 
  border: 60px solid transparent;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.0); 
}


/*---------------------Banner Card-------------------*/

.container, .container-2, .container-3, .container-4, .container-5 {
  margin: 0 auto;
  width: 100%;
  position: relative; 
  z-index: 4;
  padding: 20px;
  overflow: hidden;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 8px 57px 0px #222632;
}
.scene, .scene-2, .scene-3, .scene-4, .scene-5 {
  margin: 0 auto;
  padding: 0; 
  z-index: 1;
  max-width: 75vw;
  padding-top: 10px;
  display: block;
  pointer-events: auto !important;
}
.bg {
  width: 150vw;
  height: 200vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: -50%;
  margin-top: -30%;
  /*background-image: -webkit-linear-gradient(10deg,#fff 25%,#fff 43%,#ffb85e 62%,#fab362 63%,#3d00ff);
  background-image: linear-gradient(350deg,#fff 25%,#fff 43%,#ffb85e 62%,#fab362 63%,#3d00ff);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/layer_bg.jpg');
}
#parallax {
  padding-top: 12vh;
}
.card {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.card-img {
  box-shadow: 0px 28px 77px 0px #222632;
  overflow: hidden;
  transition: box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) ease;
  border-radius: 8px;
  max-width: 50vw;
  background-image: url('../img/card.jpg');
  /*background: rgba(0, 0, 0, 0.7);*/
  background-position: center;
  background-size: cover;
  height: 55vh;
  margin: 0 auto;
  transform: perspective( 1200px ) translate3d( 0, 0px, 285px );
}
.card-img .text-white {
  padding: 10px 10% 40px 10%;
  width: 100%;
}
.card-img .text-white h1 {
  font-size: 25px;
}
.contact-block { 
  position: absolute;
  bottom: 0;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.contact-icon {
  width: 30px;
  height: 30px;
}
.landscape-message {
  height: 100vh;
  width: 100vw;
  display: none;
  font-family: 'Raleway', sans-serif;
  color: white;
  background: #3b3b3b;
  z-index: 20;
  position: fixed;
}
.landscape-message h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/*----------------------------Portfolio Block---------------------------*/
.backdrop {
  height: 50%;
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.portfolio-block {
  height: 100vh;
  width: 100%;
  padding: 40px;
  background: transparent;
  position: relative;
  z-index: 10;
}
.portfolio-block > .text-white > a > #card {
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 8px;
  height: 90px;
  transition: transform .4s ease;
  width: 100%;
}
.portfolio-block > .text-white {
  margin-top: -20px;
  width: 60%;
}
#card {
  background: rgba(255,255,255, 0.5);
}
#card .qut-eb-logo {
  height: auto;
  width: 65px;
}
#card .aml-logo {
  margin-top: 10px;
  margin-bottom: 10px;
}
#card .col-md-6 {
  padding-right: 0;
}
.logo {
  width: 150px;
  height: auto;
  display: inline-block;
  margin-top: 50px;
}
.bg-2 {
  width: 140vw;
  height: 170vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: -50%;
  margin-top: -30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/layer_bg2.jpg');
}

/*--------------------------Biography Block------------------------------*/

strong {
  padding-right: 5px;
  font-size: 30px;
  font-weight: bold;
}
.skills-block {
  height: 100vh;
  width: 100%;
  padding: 60px;
  /*margin-top: 120px;*/
  position: relative;
  background: transparent;
  z-index: 10;
}
.bio-block {
  /*box-shadow: 0px 8px 77px 0px #222632;*/
  overflow: hidden;
  border-radius: 8px;
  margin-top: -40px !important;
  padding: 10px 5px 0px 5px;
  /*background: rgba(0, 0, 0, 0.7);*/
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  /*transform: perspective( 1600px ) translate3d( 0, 0px, 285px );*/
}
.bio-block .text-white p {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
.bio-block .text-white p {
  margin-bottom: 20px;
}

.scene-3 {
  margin: 0 auto;
  padding: 0; 
  z-index: 0;
  max-width: 75vw;
  /*position: fixed;*/
  padding-top: 40px;
  pointer-events: auto !important;
}
.bg-3 {
  width: 150vw;
  height: 170vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: -70%;
  margin-top: -30%;
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/layer_bg3.jpg');
}

/*--------------------------Languages Block------------------------------*/

.languages-block {
  height: 100vh;
  width: 100%;
  padding: 60px;
  margin-top: 60px;
  position: relative;
  background: transparent;
  z-index: 10;
}
.language-block {
  margin-bottom: 5px;
  margin-top: 5px;
}
.languages-block .col-xs-4 {
  width: 17%;
  margin-bottom: 20px;
}
.scene-4 {
  margin: 0 auto;
  padding: 0; 
  z-index: 0;
  max-width: 75vw;
  /*position: fixed;*/
  padding-top: 40px;
  pointer-events: auto !important;
}
.bg-4 {
  width: 150vw;
  height: 170vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: -70%;
  margin-top: -30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/layer_bg4.jpg');
}
.skills-block > .text-white {
  width: 100%; 
  margin-top: 50px;
  padding: 15%;
}
/*--------------------------WORK BLOCK------------------------------*/

.work-block {
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin-top: 150px;
  left: 50%;
  top: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button-bg {
  background: rgba(0, 0, 0, 0.7);
  width: 250px;
  border-radius: 8px;
  margin: 0 auto;
}
.contact-btn {
  font-family: 'Raleway', sans-serif;  
  margin-top: 140px;
  display: block;
  text-transform: uppercase;
  position:relative;
  margin: 0 auto;
  width: 250px;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  transition: all 0.3s ease-in;
  background-image: -webkit-linear-gradient(0deg,#00fff5,#6457fc 53%,#e066ff);
  background-image: linear-gradient(90deg,#00fff5,#6457fc 53%,#e066ff);
  color:transparent;
  -webkit-background-clip: text;
  transition: color 0.3s ease;
}
.small-btn {
  top: 0px;
  padding: 2px;
  width: 70px;
  margin-top: 5px !important;
  height: 20px;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-image: -webkit-linear-gradient(0deg,#00fff5,#6457fc 53%,#e066ff);
  background-image: linear-gradient(90deg,#00fff5,#6457fc 53%,#e066ff);
  color:transparent;
  -webkit-background-clip: text;
  transition: color 0.3s ease;
}
.contact-btn:hover {
  border-color: white;
  text-decoration: none;
  background-image: -webkit-linear-gradient(0deg,#0029ff,rgba(112,0,255,.99) 22%,#c0f 100%,#fff);
  background-image: linear-gradient(90deg,#0029ff,rgba(112,0,255,.99) 22%,#c0f 100%,#fff);
  color:transparent;
}
.contact-btn:focus {
  border-color: white;
  background-image: -webkit-linear-gradient(0deg,#0029ff,rgba(112,0,255,.99) 22%,#c0f 100%,#fff);
  background-image: linear-gradient(90deg,#0029ff,rgba(112,0,255,.99) 22%,#c0f 100%,#fff);
  color:transparent;
  -webkit-background-clip: text;
  text-decoration: none;
}
.blob {
  z-index:-1;
  position:absolute;
  width:2px;
  height:2px;
  margin-left: 0;
  margin-top: 0;
  border-radius: 50%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  transition: border-width 0.7s ease-in-out,margin-left 0.7s ease-in-out,margin-top 0.7s ease-in-out;
}
.expand{
  border-color: black;
  border-width: 300px;
  border-style: solid;
  transition: border-width 0.7s ease-in-out,margin-left 0.7s ease-in-out,margin-top 0.7s ease-in-out;
  margin-left:-300px;
  margin-top:-300px;
}
footer {
  margin-top: 15%;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color: #e7e7e7;
}
.bg-5 {
  width: 150vw;
  height: 170vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-left: -70%;
  margin-top: -30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/layer_bg5.jpg');
}
/*--------------------------------GLOBAL--------------------------------*/

.title {
  margin-top: 15px;
  text-align: left;
  margin-left: -20%;
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
}
p {
  font-weight: 300;
}
body {
  background: #fff;
  color: #555;
  font-size: 18px;
  /*border: 3px solid white;*/
  overflow-x: hidden;
}
.col-centered {
  margin: 0 auto;
}

#card {
  transform: perspective( 1000px ) translate3d( 0, 0px, 100px );
}
.touch {
  transition: transform .15s ease;
}
.text-black, 
.text-white {
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;  
}
.center-middle {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  width: 100%;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.text-black {
  color: black;
}
.text-white {
  color: white;
}
.text-white > p {
  font-size: 10px;
}
.text-link {
  font-family: 'Raleway', sans-serif;  
  margin-top: 20px;
}
.text-link { 
  text-decoration: none;
  font-size: 18px;
  color: #3b3b3b;
}
.go-top {
  position: relative;
  right: -20px;
  left: auto !important;
  top: 90vh !important;
  z-index: 10;
  width: 50px;
  height: 50px;
  padding: 5px 3px;
  border-radius: 50px;
  display: block;
  background-image: url(../img/scroll_up.png),-webkit-linear-gradient(270deg,#fff,#fff);
  background-image: url(../img/scroll_up.png),linear-gradient(180deg,#fff,#fff);
  background-position: 50% 43%,0 0;
  background-size: 30px 19px,auto;
  background-repeat: no-repeat,repeat;
}

/*---------------------------------Media Queries-------------------------------------*/

@media ( min-width: 2000px ) and ( min-height: 800px ) { /* For 21:9 aspect ratio screens */
  .card-img {
    max-width: 30vw;
    max-height: 50vh;
  }
  .text-black {
    max-width: 60%;
  }
  .skills-block > .text-white {
    width: 100%; 
    margin-top: 50px;
    padding: 10%;
  }
  strong {
    font-size: 50px;
  }
  .bio-block .text-white p {
    font-size: 23px;
    line-height: 50px;
  }
  .languages-block {
    margin-top: 120px;
  }
  .languages-block .col-xs-4 {
    width: 12.5%;
    margin-bottom: 40px;
  }
  #parallax {
    padding-top: 17vh;
  }
  .contact-btn {
    margin-top: 380px;
  }
  .work-block {
    margin-top: 0px;
  }
}

@media screen and ( max-width: 991px ) {
  #parallax {
    padding-top: 17vh;
  }
  .card-img {
    width: 60vw;
    height: 50vh;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .bg {
    margin-top: -50%;
  }
  .bg-2, .bg-3, .bg-4 {
    margin-top: -60%;
  }
  .col-md-2 {
    width: 33.33333333%;
    float: left;
    margin-bottom: 20px;
  }
  .skills-block .text-white .col-md-12 .col-md-offset-4 {
    margin-left: -10%;
  }
  .skills-block .text-white .col-md-12 .col-md-offset-1 {
    margin-left: 0;
  }
  .contact-btn {
    top: 120px;
  }
  .text-black, 
  .text-white {
    top: 50%;
    width: 60%;
  }
  .pull-up {
    top: 45%;
  }
  .card-img .text-white h1 {
    font-size: 30px;
  }
  .small-btn {
    top: 0px;
    padding: 2px;
    width: 60px;
    margin-top: 5px !important;
    height: 20px;
    font-size: 10px;
  }
  .contact-block {
    margin-left: 10%;
  }
  #card {
    min-height: 100px;
  }
  .header-title {
    margin-bottom: 100px;
  }
  .skills-block > .text-white {
    width: 100%; 
    padding: 12%;
    margin-top: 120px;
  }
  strong {
    font-size: 40px;
  }
  .bio-block .text-white {
    width: 100%;
  }
  .bio-block .text-white p {
    font-size: 20px;
    line-height: 30px;
  }
  .bio-block {
    margin-top: 70px;
  }
  .languages-block .col-xs-4 {
    width: 33.33333333%;
  }
  .title {
    margin-left: 0%; 
  }
  strong {
    font-size: 20px;
  }
  footer {
    margin-top: 80%;
  }
  #pinContainer {
    -webkit-perspective: none;
    perspective: none;
  }
  #slideContainer {
    width: 100%; 
    height: 400%; /* to contain 4 panels, each with 100% of window height */
  }
  .panel {
    height: 25%; /* relative to parent -> 25% of 400% = 100% of window height */
    width: 100%; 
  }
}
@media (max-width: 767px) 
and (orientation : landscape){
  .landscape-message {
    display: block;
  }
  #content-wrapper {
    display: none;
  }
}
@media screen and ( max-width: 479px ) { 
  #pinContainer {
    -webkit-perspective: none;
    perspective: none;
  }
  .portfolio-block {
    margin-top: 0px;
  }
  .card-img {
    max-width: 60vw;
    height: 55vh;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  .skills-block .text-white .col-md-12 .col-md-offset-4 {
    margin-left: -2%;
  }
  .skills-block .text-white .col-md-12 .col-md-offset-1 {
    margin-left: 0%;
  }
  .bg {
    margin-top: -60%;
  }
  #card figure .qut-running-logo {
    margin-top: 5px;
  }
  #card figure .aml-logo {
    margin-top: 15px;
  }
  .logo {
    width: 100px;
    height: auto;
  }
  #card figure .qut-eb-logo {
    width: 50px;
  }
  .bg {
    margin-top: -80%;
  }
  .portfolio-block .text-white a #card {
    min-width: 230px;
  } 
  .portfolio-block > .text-white {
    width: 90%;
  }
  .skills-block .text-white .col-md-12 .col-md-offset-1 {
     margin-left: 0%; 
  }
  .skills-block .text-white .col-md-12 .col-md-offset-4 {
    margin-left: -10%;
  }
  .header-title {
    font-size: 40px;
    margin-left: 0px;
  }
  .portfolio-block > .text-white {
    margin-top: 20px;
  }
  .skills-block > .text-white {
    width: 100%; 
    padding: 0px;
    margin-top: 100px;
  }
  #card .col-md-6 {
    padding-right: 0;
    padding-left: 0;
  }
  .text-black, 
  .text-white {
    top: 50%;
    width: auto;
  }
  .contact-btn {
    top: 0px;
    margin-top: 60px;
  }
  .contact-btn {
    font-size: 20px;
    height: 50px;
  }
  .small-btn {
    top: 0px;
    padding: 2px;
    width: 60px;
    margin-top: 5px !important;
    height: 20px;
    font-size: 10px;
  }
  .contact-block {
    margin-left: -2%;
    margin-right: 20%;
  }
  #parallax {
    padding-top: 15vh;
  }
  .card-img .text-black h1 {
    font-size: 25px;
  }
  .card-img .text-black {
    padding-bottom: 20px;
  }
  .portfolio-block .text-white #card {
    min-height: 80px;
    margin-bottom: 50px; 
  }
  #slideContainer section:nth-child(4) {
    height: 95vh;
  }
  .portfolio-block .text-white a #card *:nth-child(2) {
    padding-right: 0px;
    padding-left: 20px;
  }
  .text-link {
    margin-top: 3px;
  }
  .pull-down-sm {
    margin-top: 15px;
  }
  #card figure .qut-eb-logo {
    margin-top: 10px;
  }
  .skills-block .text-white .title {
    margin-left: -7%;
  }
  .bg-2, .bg-3, .bg-4 {
    margin-top: -60%;
  }
/*  .go-top {
    width: 40px;
    height: 40px;
    background-size: 24px 14px,auto;
  }*/
  strong {
    font-size: 16px;
    padding: 0;
  }
  .bio-block .text-white {
    width: 100%;
  }
  .bio-block .text-white p {
    font-size: 15px;
    line-height: 20px;
  }
  .bio-block {
    margin-top: 0px !important;
    padding: 0;
  }
  .skills-block {
    padding: 20px;
  }
  .panel {
    border: 20px solid transparent;
  }
  .panel-lg {
    border: 20px solid transparent;
  }
  .card-img .text-white h1 {
    font-size: 25px;
  }
  .languages-block .col-xs-4 {
    width: 33.33333333%;
    margin-bottom: 10px;
  }
  .languages-block {
    margin-top: 90px;
    padding: 0;
  }
  .bg-4, .bg-5 {
    background-position: 50% 50%;
  }
  footer {
    margin-top: 70%;
  }
  .bio-block .text-white .col-md-10 {
    padding-right: 4px;
    padding-left: 4px;
  }
  .bg {
    background-image: url(../img/layer_bg_sm.jpg)
  }
  .bg-2 {
    background-image: url(../img/layer_bg2_sm.jpg)
  }
  .bg-3 {
    background-image: url(../img/layer_bg3_sm.jpg)
  }
  .bg-4 {
    background-image: url(../img/layer_bg4_sm.jpg)
  }
  .bg-5 {
    background-image: url(../img/layer_bg5_sm.jpg)
  }
}
@media screen and ( max-width: 360px ) { /* Smaller, older phones */
  .contact-icon {
    width: 20px;
    height: 20px;
  }
  .contact-block {
    margin-left: -5%;
  }
  .portfolio-block .text-white a #card {
    min-height: 80px;
    margin-bottom: 30px; 
    min-width: 200px;
  }
  #card figure .qut-eb-logo {
    margin-top: 10px;
    margin-left: 30px;
  }
  .pull-down-sm {
    margin-top: 7px;
  }
  .text-link {
    font-size: 15px;
  }
  .portfolio-block .text-black #card *:nth-child(1) {
    padding-left: 3px;
    padding-right: 10px;
  }
  .portfolio-block .text-black #card *:nth-child(2) {
    padding-right: 0px;
    padding-left: 25px;
  }
  .contact-btn {
    top: 120px;
  }
  .mobile-width {
    width: 80%;
  }
  .skills-block > .text-white {
    width: 100%; 
    margin-top: 50px;
    padding: 10px;
  }
  .mobile-change > *:nth-child(4) {
    width: 55px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
  }
}

/*-----------------------------------SCROLL MAGIC------------------------------------------*/

/*
div#content-wrapper {
    height: 100%;
    min-width: 900px;
    min-height: 500px;
}
html.touch div#content-wrapper {
    min-width: 700px;
}*/