@font-face {
  font-family: "Brandon Grotesque Regular";
  src: url("../fonts/brandon_reg.woff") format("woff");
  src: url("../fonts/brandon_reg.woff2") format("woff2"),
  url("../fonts/brandon_reg.otf") format("opentype");
}

/*----------------------------------------------
------------------MAIN SECTION-----------------
------------------------------------------------*/
.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,1);
  z-index: 100;
}
.main, .about, .portfolio, .skills {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}
.about, .portfolio, .skills {
  border-top: 2px solid rgb(255, 149, 1);
}
.main {
  height: 100vh;
}
.fade, .fade-last {
  opacity: 0;
}
.title-text {
  color: #3b3b3b;
  position: absolute;
  left: 60px;
  top: 49%;
  transform: translate(0%, -49%); 
}
.title-text .white {
  color: #e7e7e7;
}
.title-text h1 {
  font-size: 4em; 
  line-height: 1.1em;
  font-family: 'Open Sans', serif;
  font-weight: 200;
}
#particles-js {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  opacity: 0.8;
  height: 100%;
  -webkit-animation: slide 0.8s forwards;
  animation: slide 0.8s forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  padding: 20px;
  transition: all 0.7s ease;
  transform-origin: right;
}

/*----------------------------------------------
------------------ABOUT SECTION-----------------
------------------------------------------------*/

.about {
  background: #fff;
  overflow: hidden;
  padding: 80px 60px 100px 60px; 
}
.about h1 {
  font-family: 'Open Sans', serif;
  color: black;
  font-size: 40px;
  margin-bottom: 50px;
}
.about p {
  max-width: 1080px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
.about p strong {
  color: rgb(255, 149, 1)
}
/*------ANIMATIONS-------*/

@-webkit-keyframes slide {
  from {
    top: 0;
  }
  to {
    top: 50%;
  }
}

@keyframes slide {
  from {
    top: 0;
  }
  to {
    top: 50%;
  }
}

body {
  background: #FFF;
  overflow-x: hidden;
}

*::selection { 
  background: rgb(255, 149, 1);
  color: white;
}

/*----------------------------------------------
------------------PORTFOLIO SECTION-----------------
------------------------------------------------*/

.portfolio {
  padding: 60px 60px 80px 60px;
  overflow: hidden;
  background: rgba(0,0,0,0.85);
}
.portfolio-title {
  font-family: 'Open Sans', serif;
  font-size: 40px;
  margin-bottom: 50px;
  color: #fff;
}
.about h1, .portfolio h1, .skills h1 {
  line-height: 1px;
}
.portfolio-item {
  float: left;
  width: 15%;
  max-width: 300px;
  margin: 0 auto;
  display: inline-block;
  border-radius: 4px;
  background: white;
  transition: all 0.3s ease;
  margin-right: 1.5%;
}
.aml {
  background: url('../img/aml.jpg');
}
.tla {
  background: url('../img/tla.jpg');
}
.qutrunning {
  background: url('../img/qutrunning.jpg');
}
.quteb {
  background: url('../img/quteb.jpg');
}
.daryl {
  background: url('../img/daryl.jpg');
}
.aaron {
  background: url('../img/aaron.jpg');
}
.aml, .tla, .qutrunning,
.quteb, .daryl, .aaron {
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  /*background-color: rgba(0,0,0,0.3);*/
}

/*----------------------------------------------
------------------THIRD SECTION-----------------
------------------------------------------------*/

.skills {
  overflow: hidden;
  background: #fff;
  padding: 120px 60px 150px 60px; 
}
.skills h1 {
  font-family: 'Open Sans', serif;
  font-size: 40px;
  margin-bottom: 50px;
}
.skill-item {
  float: left;
  width: 6.65%;
  height: auto;
  background: rgba(255, 149, 1, 0.4);
  margin-right: 1.6%;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease; 
  display: inline-block;
}
.skill-item:hover {
  transform: scale(1.1, 1.1);
  background: rgba(255, 149, 1, 0.6);
  -webkit-box-shadow: 0 7px 48px rgba(183,198,212,.28);
  box-shadow: 0 7px 48px rgba(183,198,212,.28);
}
.skill-item img { 
  width: 100%;
}
/*.skill-item img:hover { 
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}*/


/*------------NAVBAR STYLES-------------*/

.navbar-default {
  background-color: transparent;
  z-index: 99;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 53px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: none;
  bottom: 0;
  left: 0;
  position: fixed;
  transition: all 0.2s ease;
}
.navbar {
  border-radius: 0px 0px 0px 0px;
  border: 0px;
}
.navbar-default {
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.container {
  width: auto;
  margin-left: 35px;
  margin-right: 45px;
}
.navbar-nav {
  width: 100%;
  text-align: right;
  float: right;
  margin-right: -30px;
}
.navbar-nav hr {
  display: none;
}
.navbar-nav li {
  display: inline-block;
}
.logo-img {
  position: absolute;
  z-index: 0;
  transition: all 0.3s ease;
}
.navbar-collapse {
  padding-left: 45px;
}
.navbar-default .container .navbar-header .logo-img {
  top: 90px;
  left: 20px;
  height: 100px !important;
}
#navbar {
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav .active a {
  color: #3b3b3b;
  /*transition: all 0.1s ease;*/
}
.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:focus, 
.navbar-default .navbar-nav .active a:hover {
  background: transparent;
}
.navbar-default .navbar-nav li a::after {
  bottom: -4px;
}
.navbar-default .navbar-nav li a {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #e7e7e7;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: rgb(255, 149, 1) !important; 
}
.navbar-default .navbar-nav .active a:focus {
  color: rgb(255, 149, 1) !important;
}
.navbar-brand {
  padding: 0px;
}
.navbar-toggle {
  float: right;
}
.navbar-default .navbar-toggle,
.navbar-default-home .navbar-toggle {
  border-color: transparent; /* Removes border color */
}
.navbar-default .navbar-toggle .icon-bar, .navbar-default-home .navbar-toggle .icon-bar {
    background-color: #5c6174;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default > .container > .navbar-header > a > img {
  height: 70px !important;
  padding: 4px 8px 22px 8px;
}
.navbar-default .navbar-nav > li,
.navbar-default .navbar-nav > li > a {
  line-height: 18px;
}
.navbar-toggle {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/*----------------------------------------------
------------------MEDIA QUERIES-----------------
------------------------------------------------*/

@media only screen and (max-width: 991px) {
  .skill-item {
    width: 14%;
    margin-bottom: 1.6%;
  }
  .portfolio-item {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 3%;
  }
  .title-text {
    top: 53%;
    transform: translate(0%, -53%) !important;
  }
}
@media only screen and (max-width: 479px) {
  .title-text {
    left: 20px;
    top: 52%;
    transform: translate(0%, -52%) !important;
  }
  .title-text h1 {
    font-size: 2em;
  }
  .about, .portfolio, .skills {
    padding: 20px;    
  }
  .about h1, .portfolio h1, .skills h1 {
    font-size: 2em;
    margin-bottom: 50px;
  }
  .portfolio-item {
    width: 45%;
    margin-right: 2.5%;
  }
  .skills {
    padding: 20px 20px 100px 20px;
  }
  .navbar-default {
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.8) !important;
  }
  .navbar-collapse {
    border: none;
    background: rgba(0,0,0,0.8);
  }
}